<div class="container">
  <h2>Agregar nuevo producto</h2>
  <form id="insertar">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label">Clave:</label>
        <input type="text" class="form-control" name="clave" [(ngModel)]="miProd.clave"/>
      </div>

      <div class="col-md-6">
        <label class="form-label">Nombre del producto:</label>
        <input type="producto" class="form-control" name="name_control" [(ngModel)]="miProd.nombre" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label">Costo:</label>
        <input type="number" class="form-control" name="costo" [(ngModel)]="miProd.costo" />
      </div>

      <div class="col-md-6">
        <div>
          <label class="form-label">Foto:</label>
          <input type="file" class="form-control" name="foto" accept="image/*" (change)="convertir_a_B64($event)">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
          <label class="form-label">Color:</label>
          <input type="text" class="form-control" name="color" [(ngModel)]="miProd.color"/>
      </div>

      <div class="col-md-6">
          <label class="form-label">Descripcion:</label>
          <input type="text" class="form-control" name="descripcion" [(ngModel)]="miProd.descripcion"/>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label">Fecha:</label>
        <input type="date" class="form-control" name="fecha_ad" [(ngModel)]="miProd.fecha_ad"/>
      </div>

      <div class="col-md-6">
        <label class="form-label">Origen</label>
        <input type="text" class="form-control" name="origen"[(ngModel)]="miProd.origen"/>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label">Status</label>
        <input type="text" class="form-control" name="status"[(ngModel)]="miProd.status" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Medida:</label>
        <input type="text" class="form-control" name="TextoMedida" [(ngModel)]="miProd.medida" />CM
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label">Categoria nombre</label>
        <input type="text" class="form-control" name="categoria" [(ngModel)]="miCat.nombre"/>
      </div>

      <div class="col-md-6">
        <label class="form-label">Categoria descripción:</label>
        <input type="text" class="form-control" name="categoria.descripcion" [(ngModel)]="miCat.descripcion">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label">Modelo nombre:</label>
        <input type="text" class="form-control" name="textoModelo" [(ngModel)]="miModelo.nombre"/>
      </div>

      <div class="col-md-6">
        <label class="form-label">Modelo descripcion:</label>
        <input type="text" class="form-control" name="textoModelo" [(ngModel)]="miModelo.descripcion">
      </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="enviarProd()">Agregar</button>
  </form>
</div>
